<div class="student-info">
    <button class="button-back" (click)="goBack()">Back</button>

    <h2>Student Details</h2>
    <ul>
        <li><strong>Name:</strong>{{studentDetails.name}} </li>
        <li><strong>Age:</strong> {{studentDetails.age}}</li>
        <li><strong>Percentage:</strong> {{studentDetails.percentage}}</li>
        <li><strong>Father name</strong> {{studentDetails.fatherName}}</li>
        <li><strong>Mother name</strong> {{studentDetails.motherName}}</li>

    </ul>
</div>